body {
    background-color: #FE9D28;
    color: black;
    font-family: 'Righteous', 'cursive';
    margin: 0px;
}

header {
    /* position: sticky; */
    top: 0px;
}

h1 {
    text-align: center;
    color: black;
}

.menu-nav {
    display: flex;
    justify-content: center;
    background-color: #FE9D28;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    position: relative;
}

.contenedorlogo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logopraderagrande {
    display: flex;
    justify-content: center;
    width: 600px;
}

#logoprade {
    width: 120px;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 15px;
    height: 47px;
    position: absolute;
    left: 5px;
}
/* .button{
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: palevioletred;
    color: black;
    margin-left: 40px;
} */

.paginas li:hover{

    background-color: rgb(255, 189, 66);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    display: inline;
    margin: 0px 10px;
}

.contenedorhistoria {
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}

.textoinicio {
    /* display: flex;
    align-items: flex-end;
    display: flex;
    justify-content: center; */
    margin: 40px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fotogrupal {
    height: 400px;}

.titulocontenido {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.subtitulocontenido {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    
}

.videosyt {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-evenly;
    
}

.video {
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}

footer {
    color: white;
    font-size: 1500px;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 10px;
}

.redes {
    color: white;
}

/* PLANTILLA INTEGRANTES */

.nombreintegrante {
    margin-right: 40px;
    margin-top: 40px;
}

.nombreintegrante:hover{
    transform: translate(5px, 5px);
    background-color: rgb(255, 189, 66);
    border-radius: 10px;
    border: 3px solid black;
}


.titulo-integrantes {
    display: flex;
}

.infointegrante {
    margin: 40px;
    font-size: 19px;
    letter-spacing: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulointegrante {
    margin: 40px;
    font-size: 19px;
    letter-spacing: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fotointegrantes {
    width: 520px;
    height: 650px;
    margin-top: 40px;
    margin-left: 40px;
}

.fotointegrantes1 {
    width: 520px;
    height: 650px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.inforedes {
    display: flex;
    flex-direction: column;
    list-style: circle;
    margin-top: 40px;
}

.redeszukoo {
    display: flex;
    flex-direction: column;
    /* list-style: circle; */
    margin-top: 40px;
    /* text-decoration: dashed; */
}

.inforedes1 {
    display: flex;
    flex-direction: column;
    /* list-style: circle; */
    margin-top: 40px;
    margin-bottom: 50px;
    /* text-decoration: dashed; */
}


.logoredes {
    width: 75px;
    height: 65px;
    margin-left: 40px;
}

/* biografia */

.h1-integrantes {
    margin-top: 25px;
    margin-bottom: 0;
    
}


.titulohistoria {
    margin-top: 40px;
}

.titulohistoria:hover {
    background-color: rgb(255, 189, 66);
    border: solid 4px black;
    border-radius: 10px;
}

.textohistoria {
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
}

.imagenpradera {
    margin: 24px;
    width: 500px;
    height: 320px;
    float: left;
}

.textohistoria1 {
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
}

.imagenpradera1 {
    margin: 24px;
    width: 500px;
    height: 320px;
    float: right;
}

.imagenpradera2 {
    margin: 24px;
    width: 500px;
    height: 320px;
    float: left;
}

.subtitulohistoria {
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
}

.videoshistoria {
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    width: 480px;
    flex-direction: row;
    
}

/* PLANILLA PROYECTOS */

.tituloproyectos {
    margin-bottom: 50px;
}

.primerproyecto {
    display: flex;
}

.imagenproyecto1 {
    height: 380px;
    margin-left: 50px;
    align-self: center;
    margin-bottom: 50px;

}

.nombreproyecto {
    display: flex;
    justify-content: center;
    /* margin-left: 350px; */
}

.textoproyecto {
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    font-size: 18px;
    letter-spacing: 2px;
}

.segundoproyecto {
    display: flex;
}

.imagenproyecto2 {
    height: 370px;
    margin-left: 50px;
    align-self: center;
    margin-bottom: 50px;
}

/* PLANILLA CONTACTO */

.subtitulocontacto {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.contactomail {
    display: flex;
    justify-content: space-around;
}

.logomail {
    margin-left: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 80px;
    
}

.infocorreo {
    margin-left: 40px;
}

.mailcontacto {
    margin-left: 40px;
    font-size: 20px;
}

.contactoinstagram {
    display: flex;
}

.logoinstagram {
    margin-right: 75px;
    width: 170px;
    height: 150px;
    margin-bottom: 73px;
}

.infoinstagram {
    margin-left: 0px;
}

.instagramcontacto {
    font-size: 20px;
}

.contactotiktok {
    display: flex;
    justify-content: space-around;
}

.logotiktok {
    height: 150px;
    margin-right: 20px;
    margin-bottom: 73px;
}

.infotiktok {
    margin-left: 40px;
}

.tiktokcontacto {
    margin-left: 40px;
    font-size: 20px;
}

.logotwitch {
    margin-right: 20px;
    width: 180px;
    height: 160px;
    margin-bottom: 73px;

}

.contactotwitch {
    display: flex;
}

.infotwitch {
    margin-left: 45px;
}

.twitchcontacto {
    margin-left: 45px;
    font-size: 20px;
}

/* SIEMPRE AL FINAL LOS MEDIA QUERIES */


/* TRABAJAMOS DESDE EL ESCRITORIO: EL MEDIA QUERIE QUE SE USA ES max-width */
/* TRABAJAMOS DESDE EL ESCRITORIO ENTONCES EL MEDIA QUERIE VA DE MAYOR A MENOR,
   SIENDO LA MEDIDA MAS PEQUEÑA LA QUE ESTARA AL FINAL DE TODO */
@media only screen and (max-width: 1224px){
    .contenedorimagen{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
 

}

@media only screen and (max-width:768px) {
    
    /* INICIO */

    header {
        width: 100%;
    }
    .contenedorhistoria{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .paginas {
       display: grid;
       grid-template-columns: repeat(3,4fr);
       margin-left: 40px;
    }
 
    #logoprade {
    margin-top: 30px;
    }
    
    .videosyt {

        flex-direction: row;
        gap: 10px;
        align-items: center;

    }

    .video {
        width: 320px;
        height: 270px;
    }

    footer ul {
        margin: 0px;
        padding: 0px;
    }

    /* INTEGRANTES */

    .titulo-integrantes{
        display: inherit;
    }
    .fotointegrantes {
        margin: 0px 20px 20px 20px;
        width: 400px;
        height: 500px;
        float: left;
    }

    .logopraderagrande {
        margin-top: 20px;
    }
    
    .inforedes li {
        display: flex;
        justify-content: center;
    }
     
    .fotointegrantes1 {
        margin: 0px 20px 20px 20px;
        width: 400px;
        height: 500px;
        float: left;
    }
    
    .redes img {
       width: 60px;
       height: 55px; 
       margin: 10px;
    }

    .contenedorredes {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .infointegrante{
        margin: 20px;
    }

    .footer {
        padding-left: 0px;
        display:flex;
        justify-content: space-around;
    }

    .footer li {
        margin: 0px;
    }

    /* BIOGRAFIA */
    
    .videosdeyoutube {
        display: grid;
        grid-template-rows: repeat(3, 3fr);
        justify-content: center;
    }
    
    /* PROYECTOS */

    .primerproyecto {
        display: block;
        justify-content:center ;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .imagenproyecto1 {
        margin: 0px; 
        margin-bottom: 70px;   

    }

    .segundoproyecto {
        display: block;
        justify-content:center ;
        display: flex;
        flex-direction: column-reverse;
    }

    .imagenproyecto2 {
        margin: 0px;
        margin-bottom: 70px;
    }

    /* CONTACTO */

    .contactomail {
        display: block;
        margin-left: 50px;
    }
    
    .contactotiktok {
        display: block;
        margin-left: 60px;
    }

    .infotiktok {
        margin-left: 75px;
    }
    
    .tiktokcontacto {
        margin-left: 75px;
    }

    }

@media only screen and (max-width:576px) {
 
    /* INDEX-INICIO */

    header {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu-nav {
        display: flex;
        justify-content: center;
    }

    #logoprade {
        display: none;
    }

    .paginas{
        padding: 0;
    }
    .contenedorimagen {
        display: inline;
    }

    .fotogrupal {
        width: 450px ;
        height: 300px;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .logopraderagrande {
        width: 480px;
        height: 150px;
    }

.videosyt {

        flex-direction: column;
        gap: 40px;
      align-items: center;
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 40px;
    margin-left: 10px; */
}
  
.video {
    width: 450px;
    height: 270px;
}


/* INTEGRANTES */

.nombreintegrante {
    margin-right: 0px;
}

.titulo-integrantes {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fotointegrantes{
    margin: 0;
}

.fotointegrantes1 {
    margin-bottom: 35px;
}

.subtitulointegrante {
    display: flex;
    justify-content: center;
}

.inforedes {
    padding: 0px;
     align-items: center;
}
.inforedes li {
    font-size: 19px;
}

.logoredes {
    width: 40px;
    height: 35px;
    margin: 0;
}


.contenedorredes{ 
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}
.fotointegrantes {
    margin-left: 0;
}

.footer{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.footer li {
    margin: 0;
}

/* BIOGRAFIA */

.imagenpradera {
    width: 470px;
    height: 300px;
    margin-left: 50px;
    float: none;
}


.textohistoria {
    margin-top: 0px;
    margin-left: 35px;
    text-align: center;
} 

.imagenpradera1 {
    width: 470px;
    height: 300px;
    margin-left: 50px;
    float: none;
    }

    .imagenpradera2 {
        width: 470px;
        height: 300px;
        margin-left: 50px;
        float: none;
        }
    
        /* PROYECTOS */

        .tituloproyectos {
            margin-top: 40px;
            margin-bottom: 30px;
        }

        .imagenproyecto1 {
            margin-top: 25px;
            width: 450px;
            height: 330px;
        }

        .imagenproyecto2 {
            margin-top: 25px;
            width: 450px;
            height: 330px;
            margin-bottom: 50px;
        }

        /* CONTACTO */
        
        .formascomunicacion {
           padding: 10px;
        }

        .subtitulocontacto {
            margin-top: 35px;
        }

        .contactomail {
            margin-left: 20px;
        }

        .infocorreo {
            margin: 0px;
            margin-top: 20px;
        }

        .mailcontacto {
            margin: 0px;
            margin-top: 20px;

        }
        
        .infoinstagram {
            margin-top: 20px;
            margin-left: -40px;

        }

        .instagramcontacto {
            margin-top: 20px;
            margin-left: -40px;
        }

        .contactotiktok {
            margin-left: 30px;
        }

        .infotiktok {
            margin-top: 20px;
            margin-left: 30px;
        }

        .tiktokcontacto {
            margin-left: 30px;
        }

        .infotwitch {
            margin-top: 30px;
            margin-left: 15px;
        }

        .twitchcontacto {
            margin-left: 15px;
        }


}
    
   


